/*=================================================
            Global Typography
===================================================*/
body, .course_tabs ul li, .main-section, .cs_assigment_tabs ul li.active, .inner-sidebar.cs-right:before, .inner-sidebar.cs-left:before {
	background-color: #ffffff;
}
/*---Heading Typo---*/
body h3, body h4, body h5, body h6 {
	color: #333333;
	margin-top: 0;
	line-height: 1.1em;
	margin-bottom: 8px;
	font-style: normal;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
body h2 {
	font-weight: 400;
}
body h1,body h2 {
	font-family:"Lato Light";
	font-weight: 300;
	color: #1d1d1d;
	margin-top: 0;
	line-height: 1.1;
	font-size: 24px;
	margin-bottom: 8px;
	font-style: normal;
	letter-spacing: 0px;
	text-rendering: optimizeLegibility;
	display: block;
	text-shadow: rgba(0,0,0,.02) 0 0 10px;
	-webkit-text-shadow: rgba(0,0,0,.02) 0 0 10px;
}
body h2 {
	font-size: 18px;
}
.widget .widget-section-title h2 {
	font-size: 14px;
}
.cs-list.list_v1 h2 {
	font-size: 16px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333333;
}
.strip-info p {
	font-size: 10px !important;
}
.cs-login-sec ul li {
	font-size: 14px;
}
.text-widget ul li {
	font-size: 14px;
}
.widget ul li, .wg-option li {
	list-style: none;
}
p a {
	color: #04a4cc;
}
/*---Peragraph Typo---*/
p {
	margin-bottom: 10px;
}
a {
	color: #333333;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
}
ul {
	margin-bottom: 0px;
}
figure {
	position: relative;
	margin-bottom: 6px;
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
}
img {
	max-width: 100%;
}
.mapcode img {
	max-width: inherit;
}
.gmnoprint { right: 20px !important; }
strong {
	color: #333333;
}
iframe {
	float: left;
	width: 100%;
}
.cs-map-section, .fullwidth {
	float: left;
	width: 100%;
}
.container.fullwidth, .container.fullwidth .row, .container.fullwidth .col-md-12 {
	padding: 0;
	margin: 0;
}
/*=================================================
        Wordpress Defult Clasess
===================================================*/
sticky, .wp-caption, .wp-caption-text, .gallery-caption, .bypostauthor {
}
.wp-caption img {
	height: auto;
}
/*=================================================
        Misc
===================================================*/
::selection {
	background: #04A4CC;
	color:#ffffff;
}
::-webkit-selection {
 background: #04A4CC;
 color: #ffffff;
}
::-moz-selection {
 background: #04A4CC;
 color: #ffffff;
}
/*---Form Input Typo---*/
select {
	cursor: pointer;
	display: inline-block;
	padding: 10px 12px;
	width: 100%;
	border: 1px solid #a7a7a7;
	color: #999999;
	font-size: 14px;
	font-weight: 300;
	height: 44px;
}
label {
	color: #333333;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
button {
	border: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	height: 38px;
	padding: 4px 6px;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	font-weight: 400;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #dddddd;
}
form p {
	position: relative;
	float: left;
	width: 100%;
}
form p span i {
	position: absolute;
	left: 16px;
	top: 13px;
	color: #474747;
}
.cs-section-title {
	width: 100%;
	float: left;
}
.cs-section-title h2 {
	text-transform: uppercase;
}
div.normal {
	margin-bottom: 12px;
}
.cs-section-title h1, .cs-section-title h2, .cs-section-title h3, .cs-section-title h4, .cs-section-title h5, .cs-section-title h6 {
	position: relative;
	padding: 0 0 5px 0;
	color: #2b2c30;
}
/*.cs-section-title h1:before, .cs-section-title h2:before, .cs-section-title h3:before, .cs-section-title h4:before, .cs-section-title h5:before, .cs-section-title h6:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 22px;
	height: 3px;
	background-color: #2b2c30;
}
#footer-sec .cs-section-title h1:before, #footer-sec .cs-section-title h2:before, #footer-sec .cs-section-title h3:before, #footer-sec .cs-section-title h4:before, #footer-sec .cs-section-title h5:before, #footer-sec .cs-section-title h6:before {
	background-color: #ffffff;
}*/
.cs-section-title i {
	margin-right: 7px;
}
.event-info h6, .sec_heading {
	text-transform: uppercase;
}
.center-align {
	text-align: center;
}
.text-right-align {
	text-align: right;
}
.text-left-align {
	text-align: left;
}
.language-sec ul li, .top-nav ul li {
	list-style: none;
}
.top-strip, .main-head {
	float: left;
	width: 100%;
}
.main-section .event-info h6 {
	color: #ffffff !important;
}
/*--- Common Css With Webkit ---*/
.top-strip {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
/*--- Asif ---*/
.cs-contact-info.has_border {
	border-color: #e4e4e4;
}
.cs-contact-info.cs-darktheme .cs-unorderedlist li, .cs-contact-info.cs-darktheme .cs-unorderedlist li a, .cs-contact-info.cs-darktheme h3, .cs-contact-info.cs-darktheme i, .cs-contact-info.cs-darktheme p, .cs-contact-info.cs-darktheme .has_border, .cs-team .social-media a:hover i, .content-info.center-align i, .content-info.icon_position_left i, .cs-contact-info.cs-darktheme .liststyle ul li span strong, .widget_twitter .twittercr i, .widget_twitter .twittercr p, .widget_twitter .twittercr span, /*--- Asif ---*/ .cs-contact-info.cs-darktheme .liststyle li i, .cs-blog article.blog_thumb .post-option li, .cs-blog article.blog_thumb a, .header-six .cs-search input[type="text"], .header-three .navbar-default .nav > li > a, .header-four .navbar-default .nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .header-six .navbar-default .nav > li > a, .header-six .cs-login-sec ul li, .header-six .cs-login-sec ul li a, .header-six .cs-login-sec ul li i, .header-three .cs-login-sec ul li, .navbar-default .nav > li > a:hover, .navbar-default .nav > li:hover > a, .user-signup input[type="submit"], .widget_calendar tfoot tr td a, .course-detail .content_tag h6, .widget_instrector ul li i, .header-six .nav > li > a, .fc-header-title h2, .nav > li:hover > a, .tagcloud a:hover, .cs-twitter i, .cs-twitter h4, .strip-info i {
	color: #ffffff;
}
.main-section .course-detail span a, .main-section .course-detail span, .main-section .course-detail h2, .course-detail p, .main-section .content_tag h6 {
	color: #ffffff !important;
}
.strip-info i {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.top-nav ul li:before, .top-nav ul li a, .social-media a, .strip-info p a, .strip-info p {
	color: #dddddd;
}
.event-info ul li span, .location-info span small, .navbar-default .nav > li > a, .cs_assgimenlist .text-list .custom-btn {
	color: #333333;
}
.custom-btn.transparent-bg, .course-skills .skillbar h6, .course_tabs ul li a, .cs-btnsharenow, .cs-login-sec ul li, .cs-login-sec ul li a, .cs-login-sec ul li i, .cs-login-sec ul li i, .assgiment_option li {
	color: #666666;
}
/*--- Footer listing Style ---*/
.wg-option li i {
	color: #c8c8c6;
}
.custom-btn.has_border_thin, .event-info .countdown_row .countdown_section:before, .widget_complete_review .cs-lessons, .detailpost .event-info, .icnlist span:first-child, .widget_instrector ul li, .widget_instrector ul li:first-child, .cs-member ul li, .course_tabs ul, .course_tabs ul li, .icnlist span, .icons-style, .event-info ul li, .eventinfo p, .widget_map iframe, .cs-btnsharenow i, .cs-btnsharenow, .csmap, .cs-testimonial.has_border, .cs-partner.has_border ul li figure, .partnerslide.has_border, .cs-partner.has_border, .recent-blog article {
	border-color: #dfdeda;
}
#bottom-sec {
	background-color: #eceae4;
}
.content_tag i, .footer-nav ul li:before {
	color: #cccccc;
}
#copyright {
	border-color: rgba(255, 255, 255, 0.05);
}
.cs-member ul li .left-sp > a, .evorgnizer .left-sp h5, .header-six .cs-login-sec .sc_shoping p i, .breadcrumb ul li, .breadcrumb ul li a, .assgiment_option li a, .cs_assigment_tabs ul li i {
	color: #999999;
}
.cs-search input[type="text"] {
	border-color: #7d8d9a;
	background-color: #2a4a64;
}
.cs-search label:before {
	color: #95a5b2;
}
.ev-list-option li i, .plaint-time i, .ev-clean-address i, .has-time-title i, .location-info i {
	color: #8c8c8c;
}
.event-list.has_bullet_br:before {
	background-color: #dbdbdb;
}
.pagination ul li a {
	color: #717171;
	background-color: #ffffff;
}
.pagination ul li.pgnext:before, .pagination ul li.pgnext, .pagination ul li.pgprev, .pagination ul li a,.pagination ul li:last-child a {
	border-color: #e4e4e4;
}
.tagcloud a {
	border-color: rgba(226,226,226,0.4);
}
.evorgnizer {
	background-color: #ffffff;
}
.cs-contact-info .liststyle li i {
	color: #355c7d;
}
.course-skills {
	background-color: #f8f8f8;
}
.cs-curriculum ul li.active {
	background-color: #ffffff;
}
.cs-curriculum ul li i {
	color: #c0c0c0;
}
.bg-color {
	color: #21cdec;
}
.cs-curriculum ul li:hover {
	background-color: #ffffff;
}
.fc-header-left {
	background-color: #355c7d;
}
.cs-darktheme p, .cs-darktheme h1, .cs-darktheme h2, .cs-darktheme h3, .cs-darktheme h4, .cs-darktheme h5, .cs-darktheme h6 {
	color: #ffffff;
}